---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import NavigationMobile from '../components/NavigationMobile';
import Header from '../components/Header.astro';
import "../styles/global.scss";
import "../styles/index.scss";
---
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Tomás Goizueta" />
	  </head>
<body class="body">
	<button class="info__cta">
		<span class="info__span">MY WORKS</span>
	</button>
	
	<Header
		  pages={[
			"navbar.hello",
			"navbar.about",
		  ]}
		/>
	
	
</body>
</html>
